html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.flip-box {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-flipped .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-box-front {
  background-color: rgba(0, 0, 0, 0);
}

.flip-box-back {
  background-color: rgba(0, 0, 0, 0);
  transform: rotateY(180deg);
}
.clickable-event {
  cursor: pointer;
}
a {
  text-underline-offset: 0.2rem;
}
